#content {
  width: 100%;
  height: fit-content;
  margin: 1em, 1.2em;
  padding-top: 1em;
  border: solid 1px black;
}
.pseudo-image, image{
  width: 80%;
  display: block;
  height: 60vw;
  margin: 0 auto;
  border: solid 1px black;
}
#content p {
  font-size: 14px;
  border: solid 1px black;
}
#content .quizButton {
  display: flex;
}
.quizButton button {
  display:inline-block;
  min-width: 40%;
}
#sidebar {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  border: solid 1px black;
}
#sidebar #open-sidebar {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  font-size: 1.2em;
  border: solid 1px black;
  background: white;
}
